body {
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
    background-color: rgb(174, 174, 194);
  }


  a{
    color: gold;
    text-decoration: none;
  }
  a:hover{
    color: rgb(174, 174, 194);
    text-decoration: none;
  }

  header{
    margin-bottom: 5%;
    background-color: rgb(240, 255, 250);
  }

  .container{
    font-size: larger;
  }

  .email:hover{
    font-weight: bold;
    color: honeydew;
  }
  .bodycontent{
    margin-left: 3%;
  }



  