body{
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
    background-color: rgb(174, 174, 194);
    
  }
  .centerContent{
  margin: auto;
  width: 85%;
  padding: 10px;
  align-content: center;
  text-align: center;
  }
  a{
    color: gold;
    text-decoration: none;
    margin-right: 3%;
  }
  a:hover{
    color: rgb(174, 174, 194);
    text-decoration: none;
  }

  header{
    margin-bottom: 5%;
    background-color: rgb(240, 255, 250);
  }

  .container{
    font-size: larger;
  }

  #email:hover{
    font-weight: bold;
    color: honeydew;
  }
  
  th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
  }
  
  th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
  
  th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
  }
  
  th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
  }



  